<%- include("partials/_header") %>


  <div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>
    <nav class="navigation__nav">

      <div class="container-data">
        <div class="search">
          <input class="search--inputbox" aria-describedby="pac-input" id="pac-input" name="pac-input" type="text"
            placeholder="Busca tu producto" />
          <label aria-labelledby="pac-input" class="visually-hidden" for="pac-input" aria-hidden="true">Search</label>
          <button id="search--button" class="search--button" aria-hidden="true">
            <svg class="search--icon"></svg>
          </button>
        </div>

        <div class="container">
          <table class="container_tables container_tables--2">
            <thead>
              <tr>
                <th>#</th>
                <th>Tienda</th>
                <th>ID de producto</th>
                <th>Promedio Precio</th>
              </tr>
            </thead>
            <tbody>
              <% if (pricesProducts && pricesProducts.length> 0) { %>
                <% pricesProducts.forEach((product, index)=> { %>
                  <tr>
                    <td>
                      <%= index + 1 %>
                    </td>
                    <td>
                      <%= product.tienda %>
                    </td>
                    <td>
                      <%= product.product_name %>
                    </td>
                    <td>
                      <%= product.average_price %>
                    </td>
                  </tr>
                  <% }) %>
                    <% } else { %>
                      <tr>
                        <td colspan="10">No products found</td>
                      </tr>
                      <% } %>
            </tbody>
          </table>
        </div>
      </div>

    </nav>
  </div>

  <%- include("partials/_footer") %>